@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap");

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.container{
    background: url(/src/images/pexels-cassettes-speakers-original.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
  }

td {
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #359ACA;
    color: white;
  }

tr:hover {background-color: #f5f5f5;}

.music-table {
    background-color: lightgrey;
}

.danger {
    border-color: black;
    color: red;
    font-weight: 500;   
  }

.search-form {
    padding: 1px;
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.song-form {
    padding: 1px;
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}  
